canvas {
  border: 2px solid black;
}

.placar {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  background-color: gold;
  width: 800px;
  height: 60px;
  border: 2px solid red;
  margin: 0, 20, 0, 20;
}

@keyframes timer {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
#timer {
  -webkit-animation: timer 0.75s linear infinite;
  -moz-animation: timer 0.75s linear infinite;
  -ms-animation: timer 0.75s linear infinite;
  -o-animation: timer 0.75s linear infinite;
  animation: timer 0.75s linear infinite;
  color: red;
  font-weight: bold;
  font-family: monospace;
  font-size: 20px;
  border: 2px solid red;
  border-radius: 30%;
  background-color: aqua;
}

#score {
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  color: rgb(177, 9, 244);
  border: 2px solid rgb(177, 9, 244);
  border-radius: 30%;
  background-color: cyan;
  margin: 10px;
}
#reset {
  font-size: 40px;
  color: blue;
  background-color: cyan;
  border-radius: 30%;
}
#muteButton {
  opacity: 0.6;
  background-color: goldenrod;
  border-radius: 30%;
  width: 60px;
}

#bullet-count {
  font-size: 20px;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 25%;
  background-color: bisque;
}
#comeco {
  display: flex;
  position: absolute;
  width: 800px;
  height: 550px;
  flex-direction: column;
  font-size: 30px;
}

.hidden {
  display: none;
}
